main {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 50px auto;
    background-color: var(--body-main);
    .adornos {
        position: relative;
        width: 100%;
        height: 630px;
        .camara {
            position: absolute;
            top: 160px;
            left: 160px;
            width: 120px;
            height: 120px;
        }
        .luz-camara {
            position: absolute;
            top: 182px;
            left: 256px;
            height: 80px;
        }
        .pelicula {
            position: absolute;
            top: 230px;
            right: 55%;
            width: 80px;
            height: 80px;
        }
    }
    #container-externo {
        position: absolute;
        display: block;
        top: 15%;
        left: 0%;
        width: 100vw;
        height: 100px;
        #intermediate-container {
            position: relative;
            border: 3px var(--font-color) solid;
            box-sizing: border-box;
            height: 300px;
            #marco-camara {
                width: 90%;
                height: 90%;
                margin: 5% auto;
                #marco-video {
                    width: 100%;
                    height: 100%;
                }
                #mostrarGif {
                    display: none;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .pasos {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            p {
                margin: 20px;
                border: 1px var(--font-color) solid;
                border-radius: 20px;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 30px;
                color: var(--font-color);
                font-size: 18px;
                font-family: $font-primary;
                font-weight: 700;
                cursor: pointer;
            }
        }
        hr {
            height: 5px;
            color: var(--color-hr-crear);
            background-color: var(--color-hr-crear);
            border: none;
        }
        .btn-comenzar {
            width: 127px;
            height: 50px;
            border: 1px var(--font-color) solid;
            border-radius: 20px;
            line-height: 50px;
            text-align: center;
            margin: 30px auto;
            p {
                font-size: 13px;
                color: var(--font-color);
                font-weight: 700;
                font-family: $font-primary;
                cursor: pointer;
            }
        }
    }
}
