main {
    #buscador-principal {
        box-sizing: border-box;
        width: 100%;
        background-color: var(--body-main);
        border-top: 50px var(--body-main) solid;
        h1 {
            font-family: $font-primary;
            font-size: 25px;
            color: var(--font-color);
            text-align: center;
            width: 80%;
            margin: 0 auto;
            #texto-dif {
                color: var(--font-exception);
            }
        }
        .ilustracion {
            width: 85%;
            margin: 0 7.5%;
            margin-top: 30px;
        }
        .searcher-placer {
            width: 95%;
            margin: 0 auto;
            text-align: center;
            background-color: var(--body-main);
            border: 2px solid var(--font-color);
            border-radius: 35px;
            text-align: left;
            padding: 0px 0px 0px 0px;
            .search-container {
                width: 100%;
                // border: 1px red solid;
                border-radius: 40px;
                height: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                padding: 0 2%;
                box-sizing: border-box;
                background-color: transparent;
                #buscar-top {
                    height: 22px;
                    width: 70%;
                    border: none;
                    font-size: 18px;
                    background-color: var(--body-main);
                    color: var(--font-color);
                }
                #lupa-izq {
                    display: none;
                    opacity: 0.3;
                }
                #menu-close {
                    display: none;
                }
            }
            .opciones {
                display: flex;
                flex-flow: column nowrap;
                width: 95%;
                margin: 0 auto;
                 :last-child {
                    margin-bottom: 15px;
                }
                p {
                    line-height: 16px;
                    margin-top: 10px;
                    .lupa {
                        opacity: 30%;
                    }
                    label {
                        margin-left: 15px;
                        font-size: 20px;
                        vertical-align: auto;
                        color: var(--font-color);
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
        #trending {
            text-align: center;
            border-bottom: 50px var(--body-main) solid;
            .trending-placer {
                width: 70%;
                margin: 0 auto;
                color: var(--font-color);
                font-family: $font-primary;
                .trending-title {
                    font-size: 18px;
                    margin-top: 50px;
                    margin-bottom: 10px;
                }
                #trends {
                    font-size: 1rem;
                    .trend-tags {
                        cursor: pointer;
                    }
                }
                hr {
                    margin: 40px auto 60px auto;
                    width: 50%;
                    color: rgba(192, 192, 192, 0.7);
                }
            }
            .busqueda {
                width: 100%;
                margin: 40px auto;
                color: var(--font-color);
                font-family: $font-primary;
                .search {
                    font-size: 25px;
                }
            }
            .gifo-container {
                display: flex;
                flex-flow: row wrap;
                align-items: stretch;
                justify-content: space-around;
                padding: 0 4%;
                box-sizing: border-box;
                .card-gifo {
                    position: relative;
                    width: 45%;
                    height: 130px;
                    margin: 10px auto;
                    z-index: 2;
                    .container-hover {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        height: 100%;
                        width: 100%;
                        &:hover {
                            background-color: var(--body-bg-card);
                        }
                        .container-icon {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            .download {
                                width: 20px;
                                height: 20px;
                                margin: 2px 2px;
                            }
                            .icon-gifo {
                                width: 20px;
                                height: 20px;
                                margin: 2px 2px;
                            }
                        }
                        .container-desc {
                            color: var(--font-color-card);
                            font-family: $font-primary;
                            font-weight: 500;
                            text-align: left;
                            padding-left: 5px;
                            p {
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                    }
                    .gifo-trend {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
            }
            .ver-mas {
                display: none;
                border: 1px solid var(--font-color);
                border-radius: 27px;
                height: 16vw;
                width: 40vw;
                margin: 70px auto;
                p {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: $font-primary;
                    margin: auto;
                    line-height: 16vw;
                    font-weight: 700;
                    color: var(--font-color);
                    cursor: pointer;
                }
            }
        }
    }
    #gifos-tendencia {
        position: relative;
        background-color: var(--body-trending);
        z-index: 2;
        .gifos-tendencia {
            display: flex;
            flex-flow: column nowrap;
            .trending-placer {
                width: 100%;
                text-align: center;
                margin: 30px auto;
                h3 {
                    font-size: 25px;
                    font-family: $font-primary;
                    margin: auto;
                    line-height: 16vw;
                    font-weight: 700;
                    color: var(--font-color);
                }
                p {
                    width: 80%;
                    margin: 10px auto 10px auto;
                    font-size: 16px;
                    font-family: $font-primary;
                    line-height: 16px;
                    color: var(--font-color);
                }
            }
            #left-slider {
                display: none;
            }
            #right-slider {
                display: none;
            }
            .gifos {
                position: relative;
                display: grid;
                grid-template-columns: 76vw 76vw 76vw 76vw 76vw 76vw;
                grid-template-rows: 58vw;
                column-gap: 20px;
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
                overflow: scroll;
                overflow-y: hidden;
                .card-gifo-carousel {
                    position: relative;
                    width: 100%;
                    margin: 0;
                    box-sizing: border-box;
                    .container-hover {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        height: 100%;
                        width: 100%;
                        &:hover {
                            background-color: rgba(74, 30, 227, 0.4);
                        }
                        .container-icon {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            .icon-gifo {
                                width: 30px;
                                height: 30px;
                                margin: 3px 3px;
                            }
                        }
                        .container-desc {
                            color: white;
                            font-family: $font-primary;
                            font-weight: 500;
                            text-align: left;
                            padding-left: 5px;
                            p {
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                    }
                    .gifo-trend {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 76vw;
                        height: 58vw;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(221, 219, 219, 0.7);
    z-index: 1000;
    padding: 5% 2.5%;
    #modal-external-container {
        position: relative;
        margin-top: 30vw;
        width: 95%;
        z-index: 1001;
        #modal-close {
            position: absolute;
            right: 0;
            top: -30px;
            width: 20px;
            height: 20px;
        }
        #gif-selected {
            width: 100%;
            height: 290px;
            margin: 0 auto;
        }
        .modal-internal-container {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: space-between;
            p {
                line-height: 20px;
                font-family: $font-primary;
                font-size: 10px;
                font-weight: 700;
            }
            div {
                .icon-gifo {
                    margin: 3px;
                    width: 25px;
                    height: 25px;
                    &:hover {
                        box-shadow: 3px 3px 15px rgba(74, 30, 227, 0.4);
                    }
                }
            }
        }
    }
}