* {
    padding: 0;
    margin: 0;
}

@import "./partials/variables/variables";
body {
    position: relative;
    width: 100%;
    //    header mobile
    @import "./partials/parciales-mobile/parciales-landing/header-mobile";
    // fin del header
    // inicio del main
    // @import "./main-mobile-fav";
    @import "./partials/parciales-mobile/parciales-misGifos/main-mobile-misgifos";
    // fin del main
    // inicio del footer
    @import "./partials/parciales-mobile/parciales-landing/footer-mobile";
    // fin del footer
    // media query desktop
}

@media (min-width: 769px) and (max-width: 1600px) {
    body {
        // inicio del header de favoritos
        @import "./partials/parciales-desktop/parciales-landing/header-desktop";
        // fin del header
        // inicio del main de la pagina favoritos
        // @import "./main-desktop-fav";
        @import "./partials/parciales-desktop/parciales-misGifos/main-desktop-misgifos";
        // fin del main de la pagina favoritos
        // inicio del footer de favoritos
        @import "./partials/parciales-desktop/parciales-landing/footer-desktop";
        // fin del footer de favoritos
    }
}