        * {
            padding: 0;
            margin: 0;
        }
        
        @import "./variables";
        body {
            position: relative;
            width: 100%;
            //    header mobile
            @import "./header-mobile";
            // fin del header
            // inicio del main
            @import "./main-mobile-fav";
            // fin del main
            // inicio del footer
            @import "./footer-mobile";
            // fin del footer
            // media query desktop
        }
        
        @media (min-width: 769px) and (max-width: 1445px) {
            body {
                // inicio del header de favoritos
                @import "./header-desktop";
                // fin del header
                // inicio del main de la pagina favoritos
                @import "./main-desktop-fav";
                // fin del main de la pagina favoritos
                // inicio del footer de favoritos
                @import "./footer-desktop";
                // fin del footer de favoritos
            }
        }