main {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 50px auto;
    .adornos {
        position: relative;
        width: 100%;
        height: 630px;
        .camara {
            position: absolute;
            top: 120px;
            left: 150px;
            width: 123px;
            height: 162px;
        }
        .luz-camara {
            position: absolute;
            top: 138px;
            left: 275px;
        }
        .pelicula {
            position: absolute;
            top: 400px;
            right: 200px;
        }
    }
    #container-externo {
        position: absolute;
        display: block;
        top: 0;
        left: 25%;
        width: 688px;
        height: 390px;
        border: 1px #572EE5 solid;
        #intermediate-container {
            position: relative;
            border: 1px #572EE5 solid;
            box-sizing: border-box;
            .esq-sup-izq {
                position: absolute;
                top: 5%;
                left: 5%;
                border-left: 3px #50E3C2 solid;
                border-top: 3px #50E3C2 solid;
                width: 30px;
                height: 30px;
            }
            .esq-inf-izq {
                @extend .esq-sup-izq;
                top: 87%;
                border-left: 3px #50E3C2 solid;
                border-bottom: 3px #50E3C2 solid;
                border-top: none;
            }
            .esq-sup-der {
                @extend .esq-sup-izq;
                top: 5%;
                left: 90%;
                border-right: 3px #50E3C2 solid;
                border-bottom: none;
                border-top: 3px #50E3C2 solid;
                border-left: 0;
            }
            .esq-inf-der {
                @extend .esq-sup-izq;
                top: 87%;
                left: 90%;
                border-right: 3px #50E3C2 solid;
                border-bottom: 3px #50E3C2 solid;
                border-top: none;
                border-left: 0;
            }
            #marco-camara {
                width: 480px;
                height: 320px;
                margin: 35px auto;
            }
        }
        .pasos {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            p {
                margin: 20px;
                border: 1px #572EE5 solid;
                border-radius: 20px;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 30px;
                color: #572EE5;
                font-size: 18px;
                font-family: $font-primary;
                font-weight: 700;
            }
        }
        hr {
            height: 5px;
            color: #572EE5;
            background-color: #572EE5;
            border: none;
        }
        .btn-buscar {
            width: 127px;
            height: 50px;
            border: 1px #572EE5 solid;
            border-radius: 20px;
            line-height: 50px;
            text-align: center;
            margin: 30px auto;
            p {
                font-size: 13px;
                color: #572EE5;
                font-weight: 700;
                font-family: $font-primary;
                cursor: pointer;
            }
        }
    }
}