header {
    padding: 40px 5%;
    // Oculto lo que no debe verse de la version mobile
    .menu-open {
        display: none;
    }
    .menu-close {
        display: none;
    }
    .logo-mob-placer {
        display: none;
    }
    // muestro lo que debo mostrar
    .logo-placer {
        display: block;
        width: 60px;
        height: 60px;
    }
    .menu-placer {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        width: 500px;
        height: auto;
        ul {
            list-style: none;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            hr {
                display: none;
            }
            a {
                text-decoration: none;
                width: auto;
                font-family: 'Montserrat', sans-serif;
                color: var(--font-color);
                font-size: 13px;
                line-height: 16px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                li {
                    margin: 0 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .button {
        display: block;
        position: absolute;
        right: 5%;
        top: 15px;
        width: 54px;
        height: 54px;
    }
}