main {
    #trending {
        .trending-placer {
            margin: 80px auto;
            .trending-title {
                line-height: 25px;
                margin-bottom: 0;
            }
            img {
                margin-top: 0px;
                width: 30px;
                height: 30px;
            }
        }
        .gifo-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(3, 14vw);
            row-gap: 2vw;
            column-gap: 3vw;
            .card-gifo {
                .gifo-trend {
                    width: 95%;
                }
            }
        }
        .ver-mas {
            border-radius: 25px;
            height: 50px;
            width: 127px;
            p {
                line-height: 50px;
            }
        }
    }
    #gifos-tendencia {
        .gifos-tendencia {
            display: flex;
            flex-flow: column nowrap;
            .trending-placer {
                h3 {
                    font-size: 30px;
                    line-height: 30px;
                    margin: 50px auto 0 auto;
                }
                p {
                    font-size: 18px;
                    line-height: 21px;
                    margin: 20px auto;
                }
            }
            .gifos {
                grid-template-columns: 35vw 35vw 35vw;
                grid-template-rows: 26.8vw;
                column-gap: 20px;
                .card-gifo-carousel {
                    .gifo-trend {
                        width: 35vw;
                        height: 26.8vw;
                    }
                }
            }
        }
    }
}