$font-secondary :'Roboto',
sans-serif;
$font-primary:'Montserrat',
sans-serif;
$bg-color-giftrend:#f3f5f8;
$font-color-primary:#572EE5;
$font-color-variant: #50e3c2;
$font-color-secondary: black;
.theme-dark {
    --body-border: #000000;
    --body-main: #37383c;
    --body-trending: #222326;
    --font-color: #ffffff;
    --body-bg-menu: black;
    --body-bg-card: rgba(74, 30, 227, 0.4);
    --font-exception: #50e3c2;
    --font-color-card: #ffffff;
    --font-placeholder: #4a5b6b;
}

.theme-light {
    --body-border: #572ee5;
    --body-main: #ffffff;
    --body-trending: #f3f5f8;
    --body-bg-menu: rgba(87, 46, 229, 0.8);
    --body-bg-card: rgba(74, 30, 227, 0.4);
    --font-color: #572ee5;
    --font-color-card: #ffffff;
    --font-exception: #50e3c2;
    --font-placeholder: #4a5b6b;
}

// #50e3c2