footer {
    background-color: var(--body-main);
    .footer-placer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        text-align: center;
        font-family: $font-primary;
        .compartir-en {
            margin: 20px 0;
            font-family: $font-secondary;
            color: var(--font-color);
            img {
                width: 18px;
                height: 18px;
                margin: 10px 7px;
            }
        }
        .derechos {
            color: var(--font-color);
            margin-bottom: 30px;
            font-family: $font-secondary;
        }
    }
}