footer {
    background-color: #37383C;
    .footer-placer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        text-align: center;
        font-family: $font-primary;
        .compartir-en {
            margin: 20px 0;
            font-family: $font-secondary;
            color: white;
            img {
                width: 18px;
                height: 18px;
                margin: 10px 7px;
                 :hover {
                    background-image: $font-color-primary;
                }
            }
        }
        .derechos {
            color: white;
            margin-bottom: 30px;
            font-family: $font-secondary;
        }
    }
}